@mixin object-size($width, $height) {
    width: $width !important;
    height: $height !important;
  }
  
@mixin text-style($color, $font-weight, $font-size) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
}