$font-family: 'Poppins', Arial;

// Colors
$white: #fff;
$ligth-grey: rgb(196, 196, 196);
$black: #000000;
$dark-blue: #182249;
$orange: #ff5210;
$dark-orange: #c24513;
$grey: #e7e7e7;

// Text
$primary-text: $black;

// ---------- App ----------
$background: $ligth-grey;
