$font-family: 'Poppins', Arial;

// Colors
$white: #fff;
$ligth-grey: #E5E5E5;
$black: #000000;
$dark-blue: #182249;
$ligth-blue: #63709F;
$ligth-blue-1: #EBF1FA;
$ligth-blue-2: #FAFAFD;
$red: #B76464;
$dark-red: #853333;
$yellow: #F2D873;
$grey: #e7e7e7;
$clear-primary-color: #182249b5;
$primary-color: $dark-blue;
$secondary-color: $ligth-blue;
$secondary-ligther-color: $ligth-blue-1;
$info-color: $yellow;
$background-color: $ligth-blue-2;

// Text
$primary-text: $black;
$secondary-text: $ligth-grey;

// ---------- App ----------
$background: $ligth-grey;
//Login
$login-background: $dark-blue;
$login-img-wrapper-color: $ligth-blue;
$login-form-wrapper-color: $white;

//Side-Nav
$sidenav-background: $primary-color;
$sidenav-active-option-background: $ligth-blue;
$topnav-background: $white;

//Contact-ccp
$contact-info-form: $ligth-blue-1;
$contact-title: $primary-color;
$open-contact-panel-button: $ligth-blue;
$open-contact-panel-button-hover: $ligth-blue-1;

