@import "../../../../styles/variables";

.faq-form-wrapper {
    justify-content: space-between;
}

.answers-wrapper {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 20px;
}

.form-check-input:checked {
    background-color: $ligth-blue;
    border-color: $ligth-blue;
}

.textarea-form {
    background-color: #fff0 !important;
    color: $dark-blue !important;
    font-size: 0.8rem !important;
    border: 1px solid $ligth-blue;
    font-weight: 400 !important;
    min-height: 80px !important
  }

.actions-container {
    display: flex;
    flex-direction: column;
}

.actions{
    margin-top: auto;
}

.add-faq-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 760px) {
    .add-faq-btn-wrapper {
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
    }

    .delete-faq-btn {
        margin-right: 0.5rem;
    }

    .add-faq-btn {
        margin-left: 0.5rem;
    }
}

.faq-btns {
    height: 29px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30px;
    color: $white;
    margin-bottom: 7px;
}

.add-faq-btn {
    background: $ligth-blue;
    font-size: 20px;

    &:hover {
        background: $dark-blue;
    }
}

.delete-faq-btn {
    background: $red;
    font-size: 12px;
    
    &:hover {
        background: $dark-red;
    }
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-btn {
    width: 35%;
}

.confirm-btn-wrapper { 
    display: flex;
    justify-content: space-between;
}