@import "../../../../styles/variables";

.faq-form-wrapper {
    justify-content: space-between;
}


.textarea-form {
    background-color: #fff0 !important;
    color: $dark-blue !important;
    font-size: 0.8rem !important;
    border: 1px solid $ligth-blue;
    font-weight: 400 !important;
    min-height: 80px !important
  }

.actions-container {
    display: flex;
    flex-direction: column;
}

.actions{
    margin-top: auto;
}

.add-faq-btn-wrapper {
    display: flex;
    align-items: flex-end;
}

.add-faq-btn {
    background: $ligth-blue;
    height: 29px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    width: 30px;
    color: $white;
    margin-bottom: 7px;

    &:hover {
        background: $dark-blue;
    }
}