@import "../../../styles/variables";

.top-navbar {
  width: 100%;

  .brand-header {
    width: 100% !important;
    align-items: center !important;
  }

  .sidebar-toggle-icon {
    color: $sidenav-background !important;
  }

  .tool-actions {
    color: $sidenav-background !important;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    font-size: 1rem;
    font-weight: 100;

    .logout-btn {
      cursor: pointer;
      padding: 15px;
      border-radius: 100%;
      font-size: 1.4rem !important;

      &:hover {
        color: $ligth-blue !important;
      }
    }
  }
}
