@import "../../../../styles/variables";

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  td {
    padding: 10px 10px !important;
  }

  mat-cell,
  td,
  mat-header-cell,
  mat-footer-cell {
    display: flex;
    align-items: center;
    padding: 5px 10px !important;
  }


  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 10px;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    margin-bottom: 4%;
    font-size: 0.9rem;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    
    mat-cell:first-of-type,
    mat-header-cell:first-of-type,
    mat-header-cell:nth-child(2)
    mat-footer-cell:first-of-type {
    max-width: none !important
    }

    mat-cell:nth-of-type(2),
    mat-header-cell:nth-child(3),
    mat-footer-cell:nth-of-type(2) {
    min-width: none !important
    }


    mat-cell:nth-of-type(3),
    mat-header-cell:nth-child(4),
    mat-footer-cell:nth-of-type(3) {
        min-width: none;
    }

    mat-cell:nth-of-type(4),
    mat-header-cell:nth-child(5),
    mat-footer-cell:nth-of-type(4) {
        min-width: none;
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        max-width: none !important;
        margin-top: 4%;
        
    }

    .table > :not(caption) > * > * {
        padding: 0rem 0rem !important;
    }

    .small-searcher{
        width: 100% !important;
    }

    .page-options {
        .btn-group {
             min-width: 100% !important;
         }
     }

     .badge{
        min-width: 50% !important;
        line-height: 2 !important
    }
}

.table {
  margin-bottom: 0px !important;
  font-family: $font-family;
}

mat-cell{
    color: $primary-color !important;
    font-weight: 400;
}

.space-container {
  background-color: #f6f7f9;
  height: 4px;
}

.mat-table {
  box-shadow: 0px 1px 3px 1px rgba(181, 181, 181, 0.56);
}

.paginator-table {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden !important;
  box-shadow: 0px 1px 3px 1px rgba(181, 181, 181, 0.56);
}

.table-header  {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: #f6f7f9;
  box-shadow: 0px 1px 3px 1px rgba(181, 181, 181, 0.56);
}



mat-header-row {
  background-color: $white;
}

.mat-header-cell {
    color: $dark-blue !important
}


button:focus {
  outline: none !important;
}


th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 24px;
    max-width: 5%;
}

mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-header-cell:nth-child(2)
mat-footer-cell:first-of-type {
  max-width: 12%;
}

mat-cell:nth-of-type(2),
mat-header-cell:nth-child(3),
mat-footer-cell:nth-of-type(2) {
  min-width: 25%;
}


mat-cell:nth-of-type(3),
mat-header-cell:nth-child(4),
mat-footer-cell:nth-of-type(3) {
    min-width: 30%;
}

mat-cell:nth-of-type(4),
mat-header-cell:nth-child(5),
mat-footer-cell:nth-of-type(4) {
    min-width: 16%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-style: none;
}

.mat-paginator-range-actions button {
  margin-top: -10px !important;
}

.mat-paginator-range-actions {
  display: flex;
  align-items: flex-start !important;
}

.row {
     --bs-gutter-x: 0rem !important
}


.small-searcher{
    width: 90%;
}

.form-select {
    background-color: #fff0 !important;
    color: $dark-blue !important;
    font-size: 0.8rem !important;
    border: 1px solid $ligth-blue;
    font-weight: 400 !important
}

.form-label{
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $ligth-blue;
    margin-bottom: 0 !important
}

.form-control {
    font-size: 0.8rem  !important;
    font-weight: 400 !important;
    color: $dark-blue !important;
    background-color: #fff0  !important;
    border-top: 1px solid $ligth-blue  !important;
    border-bottom: 1px solid $ligth-blue  !important;
    border-left:  1px solid $ligth-blue  !important;
    border-right: 0 !important;
}

.input-group-text {
    font-size: 0.85rem;
    color:  $dark-blue !important;
    text-align: center;
    white-space: nowrap;
    background-color: #fff0;
    border-top: 1px solid $ligth-blue  !important;
    border-bottom: 1px solid $ligth-blue  !important;
    border-right: 1px solid $ligth-blue  !important;
    border-left: 0 !important;
}

.form-label-searcher {
    color: #fff0;
}

.page-options {
   .btn-group {
        min-width: 75%;
        margin-bottom: 3rem;
    }
}

.btn-check:checked + .btn-outline-primary, 
.btn-check:active + .btn-outline-primary, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:hover {
    color: #fff;
    background-color: $ligth-blue !important;
    border-color: $ligth-blue !important;
}


.btn-outline-primary {
    color: $ligth-blue;
    border-color: $ligth-blue;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgb(13 110 253 / 50%) !important;
}

.badge{
    min-width: 80%;
}

.primary-badge{
    background-color: $primary-color !important;
}
.secondary-badge{
    background-color: $secondary-color  !important;
}

.info-badge{
    background-color: $info-color  !important;
}

.table-row-item{
    background-color: $ligth-blue-1;
}