<app-page-wrapper [title]="title">
  
    <!-- Page buttoms header  -->
    <div *ngIf="!userIsAdmin()" class="page-options container px-0 " >
        <div class="row justify-content-center justify-content-md-end">
            <div class="col-12 col-md-6 text-end">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"  (click)= "filterAgentRequests('MY_REQUESTS')">
                    <label class="btn btn-outline-primary" for="btnradio1">{{'MY_REQUESTS' | translate}}</label>
   
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"  checked  (click)= "filterAgentRequests('')">
                    <label class="btn btn-outline-primary" for="btnradio2">{{'ALL' | translate}}</label>
                  </div>
            </div>
        </div>
    </div>

    <div class="container table-container px-0 mb-5 mt-2">
        <div class="row justify-content-center">
            <div class="col">

                 <!-- Table header  -->
                <div class="table-header row pb-5 pt-3 px-4">
                    <div class="col-12 col-md-3">
                        <label class="form-label">{{ 'TYPE' | translate }}</label>
                        <select class="form-select small-searcher" (change)="applyFilter($event.target)">
                            <option selected value="">{{'ALL' | translate}}</option>
                            <option *ngFor="let type of ticketTypes">
                                    {{  type }}
                            </option>
                        </select>
                    </div>

                    
                    <div class="col-12 col-md-3">
                        <label class="form-label">{{ 'STATE' | translate }}</label>

                        <select class="form-select small-searcher" (change)="applyFilter($event.target)">
                            <option selected value="">{{'ALL' | translate}}</option>
                            <option *ngFor="let state of ticketStates">
                                    {{ state.state }}
                            </option>
                          </select>
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label-searcher">Buscar</label>

                        <div class="input-group">
                            <input type="text" class="form-control"  placeholder="Buscar"  (keyup)="applyFilter($event.target)">
                            <span class="input-group-text">
                                <fa-icon [icon]="searchIcon"></fa-icon>
                            </span>
                          </div>
                    </div>
                </div>

                <!-- Table content  -->
                <mat-table [dataSource]="dataSource" class="table" matSort>
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef class="mt-2" style="    justify-content: normal;">
                          <mat-checkbox
                            (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                          >
                          </mat-checkbox>
                        </th>
            
                        <td mat-cell *matCellDef="let row" data-label="Eliminar">
                          <mat-checkbox 
                          class="check-share"
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                          >
                          </mat-checkbox>
                        </td>
                        
                      </ng-container>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          {{ "ID" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ID">
                          {{ row.id }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "TYPE" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Tipo">
                        {{ row.type }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="agent">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "Agente" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Agente">
                        {{ row.agent }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "REQUESTER" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Solicitante">
                        {{ row.user }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "DATE" | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Fecha">
                        {{ row.date | titlecase  }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ "STATE" | translate }}
          
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Estado">
                            <span class="badge" [ngClass]="setStateBadgeClass(row.state)">
                                {{ row.state | translate }}
                            </span>
                        </mat-cell>
                    </ng-container>

                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                      *matRowDef="let row; index as i; columns: displayedColumns"
                      [ngClass]="setTableRowColor(i)"
                      (click)="seeTicket(row)"
                    >
                    </mat-row>
                </mat-table>
                
                <mat-paginator
                    class="paginator-table"
                    [pageSizeOptions]="[10, 25, 100]"
                ></mat-paginator>
            </div>
        </div>
    </div>
</app-page-wrapper>