<div class="basic-form pt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <mat-dialog-content>

        <!-- USER DATA FORM -->
        <form [formGroup]="userForm" class="needs-validation" novalidate>
          <div class="row form-row justify-content-between form-title">
            <div class="col-6"> {{ "USER_DATA" | translate }}</div>
          </div>
          <div *ngIf="!this.userForm.get('newUser')?.value" class="mb-4">
            <div class="col-12">
              <label class="form-label">{{ "EMAIL_ADDRESS" | translate }}</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{
                'is-invalid':
                  this.userForm.get('email')?.invalid &&
                  this.userForm.get('email')?.touched
              }" />
              <div class="invalid-feedback">
                {{ "INTRODUCE_EMAIL" | translate }}
              </div>
            </div>
          </div>
        </form>

        <!-- CLAIM FORM -->
        <form [formGroup]="claimForm" class="needs-validation" novalidate>
          <div class="row form-row mb-4=">
            <div class="col-12 form-label form-title">
              {{ "ATTENTION_REQUEST" | translate }}
            </div>
          </div>

          <div class="row form-row" id="name-group">
            <div class="col-12 mb-4 mb-md-0">
              <label class="form-label">{{ "TYPE" | translate }}</label>
              <select class="form-select" formControlName="type">
                <option *ngFor="let type of claimTypes" value="{{ type }}">
                  {{ formatContent(type) | translate | titlecase }}
                </option>
              </select>
            </div>

            <div class="col-12">
              <label class="form-label">{{ "DESCRIPTION" | translate }}</label>
              <textarea class="form-control" formControlName="description" [ngClass]="{
                'is-invalid':
                  this.claimForm.get('description')?.invalid &&
                  this.claimForm.get('description')?.touched
              }"></textarea>
              <div class="invalid-feedback">
                {{ "INTRODUCE_CLAIM_DESCRIPTION" | translate }}
              </div>
            </div>
          </div>

          <div class="row form-row mb-4 mt-5 form-btn justify-content-center" id="name-group">
            <div class="col-12">
              <button class="btn secondary-btn btn-block" type="button" (click)="createClaim()">
                <span *ngIf="!spinnerLoader; else loading" class="btn-content">
                  {{ "SAVE" | translate | uppercase }}</span>
                <ng-template class="text-center" #loading>
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only"></span>
                  </div>
                </ng-template>
              </button>
            </div>
          </div>
        </form>
      </mat-dialog-content>

    </div>
  </div>
</div>