<div class="container basic-form pt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">

      <!-- USER DATA FORM -->
      <form [formGroup]="userForm" class="needs-validation" novalidate>
        <div class="row form-row justify-content-between form-title">
          <div class="col-6"> {{ "USER_DATA" | translate }}</div>
          <div class="col-6">
            <div class="d-flex align-items-center justify-content-end">
              <p class="mb-0 switch">{{ "NEW_USER" | translate }}</p>
              <mat-slide-toggle formControlName="newUser"></mat-slide-toggle>
            </div>
          </div>
        </div>

        <div *ngIf="this.userForm.get('newUser')?.value">
          <div class="row form-row mb-4" id="name-group">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <label class="form-label">{{ "NAME" | translate }}</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    this.userForm.get('name')?.invalid &&
                    this.userForm.get('name')?.touched
                }"
              />
              <div class="invalid-feedback">
                {{ "INTRODUCE_NAME" | translate }}
              </div>
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label">{{ "LAST_NAME" | translate }}</label>
              <input
                type="text"
                formControlName="last_name"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    this.userForm.get('last_name')?.invalid &&
                    this.userForm.get('last_name')?.touched
                }"
              />
              <div class="invalid-feedback">
                {{ "INTRODUCE_LAST_NAME" | translate }}
              </div>
            </div>
          </div>

          <div class="row form-row mb-4" id="name-group">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <label class="form-label">{{ "PHONE_NUMBER" | translate }}</label>
              <input
                type="text"
                formControlName="phone_number"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    this.userForm.get('phone_number')?.invalid &&
                    this.userForm.get('phone_number')?.touched
                }"
              />
              <div class="invalid-feedback">
                {{ "INTRODUCE_PHONE_NUMBER" | translate }}
              </div>
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label">{{
                "EMAIL_ADDRESS" | translate
              }}</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    this.userForm.get('email')?.invalid &&
                    this.userForm.get('email')?.touched
                }"
              />
              <div class="invalid-feedback">
                {{ "INTRODUCE_EMAIL" | translate }}
              </div>
            </div>
          </div>
        </div>

        
        <div *ngIf="!this.userForm.get('newUser')?.value" class="mb-4">
          <div class="col-12">
            <label class="form-label">{{ "EMAIL_ADDRESS" | translate }}</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  this.userForm.get('email')?.invalid &&
                  this.userForm.get('email')?.touched
              }"
            />
            <div class="invalid-feedback">
              {{ "INTRODUCE_EMAIL" | translate }}
            </div>
          </div>
        </div>
      </form>

      <!-- CLAIM FORM -->
      <form [formGroup]="claimForm" class="needs-validation" novalidate>
        <div class="row form-row mb-4=">
          <div class="col-12 form-label form-title">
            {{ "ATTENTION_REQUEST" | translate }}
          </div>
        </div>

        <div class="row form-row" id="name-group">
          <div class="col-12 mb-4 mb-md-0">
            <label class="form-label">{{ "TYPE" | translate }}</label>
            <select class="form-select" formControlName="type">
              <option *ngFor="let type of claimTypes" value="{{ type }}">
                {{ formatContent(type) | translate | titlecase }}
              </option>
            </select>
          </div>

          <div class="col-12">
            <label class="form-label">{{ "DESCRIPTION" | translate }}</label>
            <textarea
              class="form-control"
              formControlName="description"
              [ngClass]="{
                'is-invalid':
                  this.claimForm.get('description')?.invalid &&
                  this.claimForm.get('description')?.touched
              }"
            ></textarea>
            <div class="invalid-feedback">
              {{ "INTRODUCE_CLAIM_DESCRIPTION" | translate }}
            </div>
          </div>
        </div>

        <div
          class="row form-row mb-4 mt-5 form-btn justify-content-center"
          id="name-group"
        >
          <div class="col-12">
            <button
              class="btn secondary-btn btn-block"
              type="button"
              (click)="createClaim()"
            >
              <span *ngIf="!spinnerLoader; else loading" class="btn-content">
                {{ "SAVE" | translate | uppercase }}</span
              >
              <ng-template class="text-center" #loading>
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only"></span>
                </div>
              </ng-template>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
