<mat-sidenav-container #drawerContainer class="sidenav-container">
    <mat-sidenav
      #sideMenu
      fixedInViewport
      class="sidenav"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="openMenu"
    >
      <!--Menu options -->
      <app-side-nav></app-side-nav>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="sidenav-content-container">
        <!--Toolbar Menu -->
        <mat-toolbar class="navbar-toolbar">
          <app-top-nav class="full-width"></app-top-nav>
        </mat-toolbar>
  
         <!--Page content -->
        <div class="account-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  