@import "../../../../../styles/variables";

.basic-form{
    background-color: rgba(255, 255, 255, 0) !important;
}

.actions-wrapper{

    display: flex;
    flex-direction: column;
    .btn{
        margin-top: auto;
    }
}

.invalid-feedback {
    position: absolute !important;
    font-size: 12px;
}

.form-btn {
    justify-content: center;

    .btn-content{ 
        font-size: 0.8rem !important;
    }
}

.form-select {
    border: 1px solid $ligth-blue;
}